.card-img-container {
  width: 10rem;
}

.content {
  grid-column: 1;
}

.customer-card-img {
  width: 15rem;
  max-width: 185px;
}

.customer-card-container {
  background: var(--cream50);
  border: 1px solid black;
  width: 40em;
  height: 12em;
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  grid-column: 2;
}

.customer-card-content {
  grid-column: 2;
}
