.customer-card-container {
  width: 40em;
  /* height: 12em; */
  /* display: grid;
  grid-template-columns: 0.75fr 1fr;*/
  grid-column: 2; 
  display: flex;
  flex-direction: row;
  align-content: center;
  border: 1px solid orangered;
}

.card-img-container {
  padding-right: 2rem;
}

.content {
  grid-column: 1;
}

.customer-card-img {
  width: 15rem;
  max-width: 185px;
}


.customer-card-content {
  /* grid-column: 2; */
  width: 90%;
}

.customer-card-content p {
  text-align: left;
}

customer-card-title {
  text-align: left;
}
