<div class="customer-info-content">
  <p>
    Our customers are the lifeblood that keeps us moving forward. Hear more
    about how we've helped make their financial dreams a reality -- straight
    from them.
  </p>
  <app-button>Meet Our Family</app-button>
</div>

<div
  *ngFor="let card of customerCards; let i = index"
  class="customer-card-container"
  [attr.data-index]="index"
>
  <div class="card-img-container">
    <img
      class="customer-card-img"
      src="{{ card.image }}"
      alt="{{ card.imageAlt }}"
    />
  </div>
  <div class="customer-card-content">
    <h1 class="customer-card-title">{{ card.name }}</h1>
    <p>{{ card.content }}</p>
  </div>
</div>
