<section id="footer-section">
  <section id="footer-links-container">
    <article class="bottom-links-container">
      <a
        *ngFor="let link of bottomNavLinks"
        href="{{ link.link }}"
        class="footer-links"
        >{{ link.name }}</a
      >
    </article>
    <article class="bottom-links-container">
      <a
        *ngFor="let link of bottomSocialLinks"
        href="{{ link.link }}"
        class="footer-links"
        innerHTML="{{link.src}}"
        ></a
      >
    </article>
  </section>
  <section id="copyright-container">
    <span
      >Website Built & maintained by
      <a href="https://jonathansexton.me">Jonathan Sexton</a></span
    >
    <span>Copyright 2020 Annuity Market Pros</span>
  </section>
</section>
