/* TODO I don't like the way this is set up - let's refactor it */
.footer-section {
  display: flex;
  flex-direction: column;
  background-color: var(--gunMetal);
  height: 55vh;
  justify-content: center;
}

.footer-links-container {
  display: flex;
  font-size: 1.4rem;
}

.bottom-links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  justify-content: center;
  font-size: 1.4rem;
}

.bottom-links-container:first-of-type {
  flex: 30%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-row-gap: 3rem;
  justify-items: center;
}

.bottom-links-container:nth-of-type(2) {
  width: 10%;
  justify-content: space-between;
}

.footer-anchor-links {
  color: var(--cream);
}

.copyright-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  margin-top: 3.5rem;
  color: var(--cream);
}

.copyright-container a, .copyright-container a:visited {
  text-decoration: underline;
  color: inherit;
}
