<section class="footer-section">
  <article class="footer-links-container">
    <div class="bottom-links-container">
      <a
        *ngFor="let link of bottomNavLinks; let i = index"
        href="{{ link.link }}"
        class="footer-anchor-links"
        [attr.data-index]="i"
        >{{ link.name }}</a
      >
    </div>
    <div class="bottom-links-container">
      <a
        *ngFor="let link of bottomSocialLinks; let i = index"
        href="{{ link.link }}"
        class="footer-anchor-links social-links"
        [attr.data-index]="i"
        innerHTML="{{ link.src }}"
      ></a>
      <a href="/">
        <img src="../../../assets/images/logo.png" class="logo" alt="" />
      </a>
    </div>
  </article>
  <section class="copyright-container">
    <div>
      Website built & maintained by
      <a href="https://jonathansexton.me" class="attribution-link"
        >Jonathan Sexton</a
      >
    </div>
    <div>© Copyright 2020 Annuity Market Pros</div>
  </section>
</section>
