<div class="top-nav-container">
  <a
    *ngFor="let link of topNavLinks"
    href="{{ link.link }}"
    class="top-nav-links"
    >{{ link.name }}</a
  >
</div>

<ul class="nav-ul">
  <li>
    <img
      src="../../../assets/images/featherLogo.png"
      alt="annuity market pro with a bar graph"
      class="logo"
    />
  </li>
  <li *ngFor="let link of navLinks" class="nav-links">
    <a href="{{ link.link }}" class="nav-links-anchor">{{ link.name }}</a>
  </li>
  <li class="phone-number">☎ 713-348-9994</li>
</ul>
<div class="mobile-menu-toggle-container">
  <img
    src="../../../assets/images/featherLogo.png"
    alt="annuity market pro with a bar graph"
    class="logo"
  />
  <div class="mobile-toggle-right">
    <span class="phone-number">☎ 713-348-9994</span>
    <button class="mobile-menu-toggle">
      <img src="../../../assets//icons/menu_open.svg" alt="open menu" />
    </button>
  </div>
</div>
