/* * Nav tag styling is located in app.component.css  */
#nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.35rem;
}

.phone-number {
  font-size: 1.1rem;
  padding-top: 10px;
}

.logo {
  width: 10em;
}

.nav-links {
  padding-top: 1rem;
}

.nav-links-anchor {
  color: var(--gunMetal);
}

.nav-links-anchor:hover {
  text-decoration: underline;
  text-decoration-color: var(--teal);
  text-decoration-thickness: 3px;
}

.mobile-menu-toggle-container {
  display: none;
}

@media screen and (max-width: 1024px) {
  #nav-ul {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 800px) {
  .mobile-menu-toggle-container {
    display: block;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mobile-menu-toggle {
    background: transparent;
    font-size: 1.05rem;
    border: none;
    cursor: pointer;
  }

  #nav-ul {
    display: none;
  }
}
