<div class="top-nav-container">
  <img
    src="../../../assets/images/logo.png"
    alt="annuity market pro with a bar graph"
    class="logo"
  />
  <a
    *ngFor="let link of topNavLinks"
    href="{{ link.link }}"
    class="top-nav-links"
    >{{ link.name }}</a
  >
</div>

<ul class="nav-ul">
  <li *ngFor="let link of navLinks" class="nav-links">
    <a href="{{ link.link }}" class="nav-links-anchor">{{ link.name }}</a>
  </li>
  <li class="phone-number">☎ 713-348-9994</li>
</ul>
<div class="mobile-menu-toggle-container">
  <img
    src="../../../assets/images/logo.png"
    alt="annuity market pro with a bar graph"
    class="logo"
  />
  <div class="mobile-toggle-right">
    <span class="phone-number">☎ 713-348-9994</span>
    <button class="mobile-menu-toggle">
      menu
    </button>
  </div>
</div>
