/* * Nav tag styling is located in app.component.css  */
#nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.35rem;
}

.nav-links-anchor {
  color: var(--gunMetal);
}
