/* * Nav tag styling is located in app.component.css  */
#nav-ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 1.3rem;
  height: 3.5rem;
}

.nav-links-anchor {
  color: var(--gunMetal);
}
