.mission-title-container {
  font-size: 2.5rem;
  color: var(--teal);
  display: flex;
  justify-content: center;
}

.mission-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding-right: 20px;
}
