header {
    background: url('../../../assets/aaron-burden-cEukkv42O40-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
}