.services-title {
  grid-column: 2;
}

.services-content {
  grid-column: 2;
}

.services-section-img {
  width: 50%;
  max-width: 25rem;
  min-width: 15rem;
  box-shadow: 15px 15px var(--darkBlue);
  border-bottom-right-radius: 40px;
  grid-column: 1;
  grid-row: 1/span 2;
  justify-self: center;
}
