<div class="services-title">
  <h1>Services That Work For You</h1>
</div>
<div class="services-content">
  <p>
    As life changes, so do financial priorities. That’s why we’re here to help.
  </p>
  <p>
    We understand that you need the right services at the right time that work
    for you and your situation. That’s why from completely managed portfolios to
    a helping word of advice, we build services around clients so they can focus
    on what matters the most -- life.
  </p>
  <app-button
    >Services We Offer <span class="button-arrow">&#10132;</span></app-button
  >
</div>
<img
  src="../../../assets/images/carlos-muza-hpjSkU2UYSU-unsplash.jpg"
  alt="a computer with charts on the screen"
  class="services-section-img"
/>
