.services-content {
  grid-column: 2;
  width: 100%;
}

.services-title {
  font-size: 2.5rem;
}

.services-section-img {
  width: 55%;
  max-width: 30rem;
  min-width: 200px;
  box-shadow: 15px 15px var(--darkBlue);
  border-bottom-right-radius: 40px;
  grid-column: 1;
  grid-row: 1;
}

.button {
  margin-top: 10%;
}

@media screen and (max-width: 800px) {
  .section-info-headings {
    display: none;
  }

  .services-content {
    width: 100%;
    text-align: center;
    padding-top: 10%;
  }

  .services-title {
    font-size: 1.9rem;
  }

  .services-section-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .services-section-img {
    width: 65%;
  }

  .button {
    text-align: center;
    margin-top: 10%;
  }
}
