<div class="ideas-title">
  <h1>Ideas As Bright & As Bold As You Are</h1>
</div>
<div class="ideas-content">
  <p>
    We know that when it comes to the future of your family and financial well
    being, shortcuts just won’t do it.
  </p>
  <p>
    We’re here to bring proven, but bold, ideas and strategies to your
    portfolio. Let us show you the wide range of those ideas and strategies so
    we can help you reach a stable, reliable financial future.
  </p>
  <app-button
    >Bright Ideas Ahead <span class="button-arrow">&#10132;</span></app-button
  >
</div>
<img
  src="../../../assets/images/riccardo-annandale-7e2pe9wjL9M-unsplash.jpg"
  alt="hands holding a light bulb"
  class="bright-ideas-img"
/>
