.ideas-content {
  grid-column: 1;
  width: 75%;
  justify-self: center;
}

.ideas-title {
  font-size: 2.5rem;
}

.bright-ideas-img-container {
  width: 100%;
  grid-column: 2;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  margin-left: 15%;
}

.bright-ideas-img {
  width: 70%;
  box-shadow: -15px -15px var(--darkBlue);
  border-bottom-left-radius: 40px;
}

.button {
  margin-top: 20%;
}

@media screen and (max-width: 800px) {
  .section-info-headings {
    display: none;
  }

  .ideas-content {
    width: 100%;
    text-align: center;
    padding-top: 10%;
  }

  .ideas-title {
    font-size: 1.9rem;
    text-align: center;
  }

  .bright-ideas-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
  }

  .bright-ideas-img {
    width: 65%;
  }

  .button {
    text-align: center;
    margin-top: 10%;
  }
}
