:root {
  --darkBlue: #00487c;
  --darkBlue50: rgba(0, 72, 124,0.5);
  --cream: #fffedf;
  --cream50: rgba(255, 254, 223,0.5);
  --teal: #0aa1b2;
  --teal50: rgba(10, 161, 178,0.5);
  --sectionBgBlue: #456990;
  --sectionBgBlue50: rgba(69, 105, 144, 0.6);
  --gunMetal: #30323d;
  --gunMetal50: rgba(48, 50, 61, 0.5);
}

@font-face {
  font-family: Playfair Display;
  src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Playfair Display, Georgia, serif;
}

p {
  font-family: 'Roboto', Poppins, sans-serif;
  font-size: 1.05rem;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

body {
  padding: 0;
  margin: 0;
}

.section-info-headings {
  font-family: Lato;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--darkBlue);
}

a {
  text-decoration: none;
}

nav {
  grid-area: navbar;
  background-color: var(--cream);
  padding-top: 0;
  margin-top: 0;
  height: 100%;
}

app-root {
  box-sizing: border-box;
  color: var(--gunMetal);
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(400px, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "navbar"
    "header"
    "industryNews"
    "services"
    "about"
    "customers"
    "footer";
}

app-header {
  grid-area: header;
  margin-top: 0;
  /* height: 100vh; */
}

app-top-cta {
  grid-area: header;
}

app-mission {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-content: center;
  max-width: 100%;
  height: 100vh;
  align-content: center;
  grid-gap: 10px;
}

app-industry-news {
  background-color: var(--sectionBgBlue50);
  height: 120vh;
  display: grid;
  grid-template-columns: 0.5fr 0.75fr;
  max-width: 100%;
  justify-items: center;
  align-items: center;
}

.ideas-and-services-section {
  display: flex;
  flex-direction: column;
}

app-ideas-section {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  margin: 6%;
  align-items: center;
}

app-services-section {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  margin: 6%;
  align-items: center;
}

.about-us-section {
  width: 100%;
  background-color: var(--sectionBgBlue50);
  height: 65vh;
}

@media (max-width: 1160px) {
  app-industry-news {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  app-mission {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

