:root {
  --darkBlue: #00487c;
  --cream: #fffedf;
  --teal: #0aa1b2;
  --sectionBgBlue: #456990;
  --gunMetal: #30323d;
}

@font-face {
  font-family: Playfair Display;
  src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Playfair Display, Georgia, serif;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  grid-area: navbar;
  background-color: var(--cream);
  padding-top: 0;
  margin-top: 0;
  /* If this is set to 100% there is a gap bettween navbar and header img */
  height: 200%;
}

app-root {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto auto auto auto auto 1fr;
  grid-template-areas:
    "navbar"
    "header"
    "industryNews"
    "services"
    "about"
    "customers"
    "footer";
}

.app-header {
  grid-area: header;
  margin-top: 0;
}

.app-top-cta {
  grid-area: header;
}
