<nav>
  <header>
    <app-top-navbar></app-top-navbar>
    <app-navbar></app-navbar>
  </header>
</nav>
<main>
  <section>
    <app-header></app-header>
    <app-top-cta></app-top-cta>
  </section>
  <section>
    <app-industry-news></app-industry-news>
  </section>
  <section>
    <app-ideas-section></app-ideas-section>
    <app-services-section></app-services-section>
  </section>
  <section>
    <app-about-us></app-about-us>
  </section>
  <section>
    <app-customer-section></app-customer-section>
    <app-customer-card></app-customer-card>
  </section>
  <app-button></app-button>
  <app-footer></app-footer>
</main>
<router-outlet></router-outlet>
