<nav>
  <header>
    <app-top-navbar></app-top-navbar>
    <app-navbar></app-navbar>
  </header>
</nav>
<section class="header-section">
  <app-header></app-header>
</section>
<section class="mission-section">
  <app-mission></app-mission>
</section>
<section class="industry-news-section">
  <app-industry-news></app-industry-news>
</section>
<section class="ideas-and-services-section">
  <article class="ideas-article">
    <app-ideas-section></app-ideas-section>
  </article>
  <article class="services-article">
    <app-services-section></app-services-section>
  </article>
</section>
<section class="about-us-section">
  <app-about-us></app-about-us>
</section>
<section class="customer-section">
  <app-customer-section></app-customer-section>
  <app-customer-card></app-customer-card>
</section>
<footer class="footer-section">
  <app-footer></app-footer>
</footer>
<router-outlet></router-outlet>
