.cta-container {
  margin: 3.5rem 0 0 auto;
  padding: 0 20px 0 5px;
  width: 60vw;
  min-width: 50vw;
  border-bottom-left-radius: 60px;
  display: flex;
  flex-direction: column;
  text-align: end;
}

.cta-container h1 {
  font-size: 2.75rem;
  font-weight: 900;
}

.cta-container-content {
  font-size: 1.2rem;
  line-height: 1.5em;
  margin-bottom: 10%;
}

.cta-container h1,
.cta-container h4 {
  color: var(--cream);
}

app-cta-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  .cta-container-content {
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 800px) {
  .cta-container {
    width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .cta-container h1 {
    font-size: 2rem;
    width: 60%;
    text-align: center;
    align-self: center;
  }
  .cta-container-content {
    font-size: 1rem;
    line-height: 1.2em;
    padding: 5px;
    width: 85%;
    align-self: center;
    margin-bottom: 10%;
  }

  .cta-container-content h4 {
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  app-cta-card {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .cta-container h1 {
    font-size: 1.5rem;
  }

  .cta-container-content {
    font-size: 1rem;
    line-height: 1em;
    padding: 10px;
  }
}

@media screen and (max-width: 390px) {
  .cta-container h1 {
    font-size: 1rem;
    width: 100%;
  }

  .cta-container-content {
    padding: 0;
    font-size: 0.95rem;
    line-height: normal;
    margin: 0;
  }
}
