.button-link {
  color: var(--darkBlue);
  display: inline-block;
  border: 2px solid var(--darkBlue50);
  padding: 0.5rem 0.8rem;
  border-radius: 1.625rem;
  font-size: 1.2rem;
  background-color: transparent;
  line-height: 1;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
  font-family: Lato, Poppins, sans-serif;
}

.button-link:hover {
  background-color: var(--teal);
  border-color: var(--teal);
  color: var(--cream);
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px var(--gunMetal50);
  transform: translateY(-5px);
}
