.button-link {
  color: var(--darkBlue);
  display: inline-block;
  border: 2px solid var(--darkBlue);
  padding: 0.8rem 0.9rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  line-height: 1;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease-in-out;
  font-family: Lato, Poppins, sans-serif;
}

.button-link:hover {
  background-color: var(--darkBlue);
  border-color: var(--cream);
  color: var(--cream);
  cursor: pointer;
  box-shadow: 1px 8px 10px var(--gunMetal50);
  transform: translateX(5px);
}

@media screen and (max-width: 800px) {
  .button-link {
    font-size: 0.95rem;
    letter-spacing: normal;
    padding: 0.6rem 0.7rem;
  }
}

@media screen and (max-width: 600px) {
  .button-link {
    padding: 0.5rem 0.6rem;
  }
}
