<article class="about-us-container">
  <div class="about-us-content">
    <h1 class="about-us-title">About Us</h1>
    <p>
      Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra,
      mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo
      hipmunk, fleck xobni.
    </p>
    <p>
      Convore bebo rovio vimeo zanga handango blekko koofers, loopt twitter imvu
      flickr kaboodle chegg. Zillow lala mzinga, sifteo. Voki heekya sococo geni
      oovoo disqus, empressr doostang lijit.
    </p>
    <div class="button-container">
      <app-button>Learn More About Us</app-button>
    </div>
  </div>
  <div class="about-us-img-container">
    <img
      src="../../../assets/images/mike.jpg"
      class="about-us-img"
      alt=""
    />
  </div>
  <div class="section-title-container">
    <h1 class="section-info-headings">Who We Are</h1>
  </div>
</article>
