<article>
  <h1>About Us</h1>
  <p>
    Webtwo ipsum orkut reddit meebo skype vimeo jajah spock empressr zimbra,
    mobly napster hipmunk prezi chartly bitly spock. Loopt twones meebo hipmunk,
    fleck xobni.
  </p>
  <p>
    Convore bebo rovio vimeo zanga handango blekko koofers, loopt twitter imvu
    flickr kaboodle chegg. Zillow lala mzinga, sifteo. Voki heekya sococo geni
    oovoo disqus, empressr doostang lijit.
  </p>
  <app-button>Learn More About Us</app-button>
  <img
    src="../../../assets/images/dragos-gontariu-GH-mSApoKO0-unsplash.jpg"
    class="about-us-img"
    alt=""
  />
</article>
