<article class="about-us-container">
  <div class="about-us-content">
    <h1 class="about-us-title">About Us</h1>
    <p>
      Michael Masor specializes in protecting his clients finances and helping
      them reach their goals; being the owner of Annuity Market Pro, and being
      independent, he contracts with multiple companies to bring the best
      products to his clients.
    </p>
    <p>
      Mike has been able to help people of all ages protect millions of dollars
      in retirement assets and not a single one has lost a penny from market
      downturns.
    </p>
    <div class="button-container">
      <app-button>Learn More About Us</app-button>
    </div>
  </div>
  <div class="about-us-img-container">
    <img src="../../../assets/images/mike.jpg" class="about-us-img" alt="" />
  </div>
  <div class="section-title-container">
    <h1 class="section-info-headings">Who We Are</h1>
  </div>
</article>
