.industry-news-card-container {
  max-width: 100%;
  margin-right: 20px;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.industry-news-card-img {
  width: 100%;
  max-width: 300px;
}

industry-news-card-title {
  text-align: center;
}

.industry-news-card-body {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media (max-width: 800px) {
  .industry-news-card-container {
    width: 100%;
  }
}

@media (max-width: 1160px) {
  .industry-news-card-img {
    /* padding-right: 10px; */
    width: 100%;
  }

  .industry-news-card-container {
    /* width: 400px; */
  }
}
