.top-cta-card {
  background-color: var(--cream);
  width: 300px;
  margin: 10px;
}

.cta-card-topper {
  background-color: var(--teal);
  width: 100%;
  color: var(--teal);
}

.top-cta-links {
  background-color: var(--teal);
  color: var(--cream);
  padding: 5px 6px;
  border-radius: 50%;
  box-shadow: 3px 2px 3px var(--gunMetal50);
}
