.top-cta-card {
  background-color: var(--cream);
  width: 25rem;
  margin: 10px 0 10px 10px;
  border-radius: 3px;
}

.top-cta-card h3,
.top-cta-card p {
  padding: 10px;
}

.cta-card-topper {
  background-color: var(--teal);
  width: 100%;
  color: var(--teal);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.top-cta-links {
  font-size: 2.2rem;
  color: var(--teal);
  margin-top: 3%;
  padding-left: 0.8rem;
}

.top-cta-links:hover {
  color: var(--gunMetal);
  transform: scale(1.2);
  transition: all 0.3s;
}

.cta-card-title {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

@media (max-width: 800px) {
  .top-cta-card {
    margin: 5% 1% 0 1%;
  }

  .top-cta-links {
    font-size: 1.8rem;
    margin-top: 4%;
  }
}