.top-cta-card {
  background-color: var(--cream);
  width: 25rem;
  margin: 10px 0 10px 10px;
  border-radius: 3px;
}

.top-cta-card h3,
.top-cta-card p {
  padding: 10px;
}

.cta-card-topper {
  background-color: var(--teal);
  width: 100%;
  color: var(--teal);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.top-cta-links {
  font-size: 2rem;
  color: var(--teal);
  margin-top: 4.5%;
  padding-left: 0.8rem;
}

.cta-card-title {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}
